
* {
    padding: 0.1em;
}

h1 {
    font-size: 2.0em;
    padding: 0.5em;
}

h2 {
    font-size: 1.6em;
    padding: 0.5em;
}

h3 {
    font-size: 1.4em;
    padding: 0.5em;
}

h4 {
    font-size: 1.3em;
    padding: 0.5em;
}

h5 {
    font-size: 1.2em;
    padding: 0.5em;
}

h6 {
    font-size: 1.1em;
    padding: 0.5em;
}

ul {
    padding: 0.5em;
}

#content_container {
    margin: 0px auto;
    vertical-align: middle;
    text-align: center;
}

#content {
    position: absolute;
    top: 40%;
}

.field_with_errors {
    color: red;
}