@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,vietnamese,greek,cyrillic,latin-ext,cyrillic-ext,greek-ext);
/* line 3, ../../sass/_basic-button.scss */
.basic-button, .basic-button-off-white, div.item-menu li div.button-panel a.play-button {
  display: inline-block;
  padding: 5px 15px;
  /*line-height: 20px;*/
  border-top: 1px solid #bababa;
  border-bottom: 1px solid white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1); }
  /* line 13, ../../sass/_basic-button.scss */
  .basic-button:hover, .basic-button-off-white:hover, div.item-menu li div.button-panel a.play-button:hover, .basic-button:active, .basic-button-off-white:active, div.item-menu li div.button-panel a.play-button:active, .basic-button.active, .active.basic-button-off-white, div.item-menu li div.button-panel a.active.play-button, .basic-button.selected, .selected.basic-button-off-white, div.item-menu li div.button-panel a.selected.play-button {
    text-decoration: none;
    color: #111111;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1); }
  /* line 20, ../../sass/_basic-button.scss */
  .ie .basic-button, .ie .basic-button-off-white, .ie div.item-menu li div.button-panel a.play-button, div.item-menu li div.button-panel .ie a.play-button {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    /* line 23, ../../sass/_basic-button.scss */
    .ie .basic-button:hover, .ie .basic-button-off-white:hover, .ie div.item-menu li div.button-panel a.play-button:hover, div.item-menu li div.button-panel .ie a.play-button:hover, .ie .basic-button:active, .ie .basic-button-off-white:active, .ie div.item-menu li div.button-panel a.play-button:active, div.item-menu li div.button-panel .ie a.play-button:active, .ie .basic-button.active, .ie .active.basic-button-off-white, .ie div.item-menu li div.button-panel a.active.play-button, div.item-menu li div.button-panel .ie a.active.play-button, .ie .basic-button.selected, .ie .selected.basic-button-off-white, .ie div.item-menu li div.button-panel a.selected.play-button, div.item-menu li div.button-panel .ie a.selected.play-button {
      background-color: #fafafa; }

/*
    .basic-button-off-white {
        @extend .basic-button;
        background-color: $basic-button-off-white-background;
        &:hover, &:active, &.active, &.selected {
            background-color: $basic-button-off-white-hover-background;
            color: $text-white;
        }
    }
*/
/* line 43, ../../sass/_basic-button.scss */
.basic-button-off-white:hover, div.item-menu li div.button-panel a.play-button:hover, .basic-button-off-white:active, div.item-menu li div.button-panel a.play-button:active, .basic-button-off-white.active, div.item-menu li div.button-panel a.active.play-button, .basic-button-off-white.selected, div.item-menu li div.button-panel a.selected.play-button {
  background-color: rgba(91, 122, 47, 0.8) !important;
  color: white; }
/* line 49, ../../sass/_basic-button.scss */
.ie8 .basic-button-off-white:hover, .ie8 div.item-menu li div.button-panel a.play-button:hover, div.item-menu li div.button-panel .ie8 a.play-button:hover, .ie8 .basic-button-off-white:active, .ie8 div.item-menu li div.button-panel a.play-button:active, div.item-menu li div.button-panel .ie8 a.play-button:active, .ie8 .basic-button-off-white.active, .ie8 div.item-menu li div.button-panel a.active.play-button, div.item-menu li div.button-panel .ie8 a.active.play-button, .ie8 .basic-button-off-white.selected, .ie8 div.item-menu li div.button-panel a.selected.play-button, div.item-menu li div.button-panel .ie8 a.selected.play-button {
  background-color: #799256 !important; }

/*
    .ie & {
        &:hover, &:active, &.active, &.selected {
            background: $icon-light-green;
        }
    }
*/
/* line 64, ../../sass/_basic-button.scss */
.button-note {
  float: right;
  padding: 1px 4px 2px;
  margin: 1px 0 0 4px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2px;
  line-height: 12px;
  font-weight: normal; }

@font-face {
  font-family: 'EntypoRegular';
  src: url("/fonts/entypo-webfont.eot");
  src: url("/fonts/entypo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo-webfont.woff") format("woff"), url("/fonts/entypo-webfont.ttf") format("truetype"), url("/fonts/entypo-webfont.svg#EntypoRegular") format("svg"); }

@font-face {
  font-family: 'AierbazziRegular';
  src: url("/fonts/aierbazzi-webfont.eot");
  src: url("/fonts/aierbazzi-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aierbazzi-webfont.woff") format("woff"), url("/fonts/aierbazzi-webfont.ttf") format("truetype"), url("/fonts/aierbazzi-webfont.svg#AierbazziRegular") format("svg"); }

@font-face {
  font-family: 'EfonRegular';
  src: url("/fonts/EFON-webfont.eot");
  src: url("/fonts/EFON-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/EFON-webfont.woff") format("woff"), url("/fonts/EFON-webfont.ttf") format("truetype"), url("/fonts/EFON-webfont.svg#EfonRegular") format("svg"); }

/* line 34, ../../sass/_fonts.scss */
.font-bold {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Helmet", "Freesans", sans-serif;
  font-weight: 600; }

/* line 38, ../../sass/_fonts.scss */
.ie8 .font-bold {
  font-weight: bold; }

/* line 3, ../../sass/_scrollbar.scss */
.scrollbar-container, div.item-menu div.scrollable {
  overflow: hidden; }
  /* line 6, ../../sass/_scrollbar.scss */
  .scrollbar-container .scrollbar, div.item-menu div.scrollable .scrollbar {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 0;
    width: 20px; }
    /* line 13, ../../sass/_scrollbar.scss */
    .scrollbar-container .scrollbar.disable, div.item-menu div.scrollable .scrollbar.disable {
      display: none; }
    /* line 15, ../../sass/_scrollbar.scss */
    .scrollbar-container .scrollbar .track, div.item-menu div.scrollable .scrollbar .track {
      position: relative;
      width: 20px; }
      /* line 18, ../../sass/_scrollbar.scss */
      .scrollbar-container .scrollbar .track .thumb, div.item-menu div.scrollable .scrollbar .track .thumb {
        position: absolute;
        width: 20px;
        cursor: pointer; }
        /* line 22, ../../sass/_scrollbar.scss */
        .scrollbar-container .scrollbar .track .thumb > div, div.item-menu div.scrollable .scrollbar .track .thumb > div {
          position: absolute;
          top: 0px;
          bottom: 0;
          right: 6px;
          width: 4px;
          -o-border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          background: #c8c8c8; }
      /* line 38, ../../sass/_scrollbar.scss */
      .scrollbar-container .scrollbar .track:active .thumb > div, div.item-menu div.scrollable .scrollbar .track:active .thumb > div, .scrollbar-container .scrollbar .track:focus .thumb > div, div.item-menu div.scrollable .scrollbar .track:focus .thumb > div, .scrollbar-container .scrollbar .track:hover .thumb > div, div.item-menu div.scrollable .scrollbar .track:hover .thumb > div {
        background: #aaaaaa; }
  /* line 44, ../../sass/_scrollbar.scss */
  .scrollbar-container.inset-shadow .viewport, div.item-menu div.inset-shadow.scrollable .viewport {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    left: 1px;
    height: auto;
    margin: 0px; }
  /* line 54, ../../sass/_scrollbar.scss */
  .scrollbar-container .viewport, div.item-menu div.scrollable .viewport {
    overflow: hidden;
    position: relative;
    height: 100%; }
    /* line 58, ../../sass/_scrollbar.scss */
    .scrollbar-container .viewport .overview, div.item-menu div.scrollable .viewport .overview {
      left: 0;
      right: 0;
      position: absolute; }

/* line 68, ../../sass/_scrollbar.scss */
.cssscrollbar:not(.ie) .scrollbar-container.inset-shadow .viewport, .cssscrollbar:not(.ie) div.item-menu div.inset-shadow.scrollable .viewport, div.item-menu .cssscrollbar:not(.ie) div.inset-shadow.scrollable .viewport {
  margin: 0px; }
/* line 72, ../../sass/_scrollbar.scss */
.cssscrollbar:not(.ie) .scrollbar-container.no-margin .viewport, .cssscrollbar:not(.ie) div.item-menu div.no-margin.scrollable .viewport, div.item-menu .cssscrollbar:not(.ie) div.no-margin.scrollable .viewport {
  margin: 0px; }
/* line 76, ../../sass/_scrollbar.scss */
.cssscrollbar:not(.ie) .scrollbar-container .viewport, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport {
  overflow-y: auto; }
  /* line 80, ../../sass/_scrollbar.scss */
  .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  /* line 84, ../../sass/_scrollbar.scss */
  .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar-track, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar-track, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar-track {
    margin: 6px; }
  /* line 89, ../../sass/_scrollbar.scss */
  .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar-thumb, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar-thumb, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    margin: 5px;
    min-height: 20px;
    background: #c8c8c8; }
    /* line 98, ../../sass/_scrollbar.scss */
    .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar-thumb:active, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar-thumb:active, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar-thumb:active, .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar-thumb:focus, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar-thumb:focus, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar-thumb:focus, .cssscrollbar:not(.ie) .scrollbar-container .viewport::-webkit-scrollbar-thumb:hover, .cssscrollbar:not(.ie) div.item-menu div.scrollable .viewport::-webkit-scrollbar-thumb:hover, div.item-menu .cssscrollbar:not(.ie) div.scrollable .viewport::-webkit-scrollbar-thumb:hover {
      background: #aaaaaa; }

/* line 7, ../../sass/user_header.scss */
#user_header {
  position: absolute;
  z-index: 40;
  top: -25px;
  height: 24px;
  right: 140px;
  padding-right: 3px;
  background-color: #a1b18b;
  /*
      border-width: 1px;
      border-color: whitesmoke;
      border-style: none solid solid;
  */
  -webkit-transition: top 0.5s 2s;
  -moz-transition: top 0.5s 2s;
  -ms-transition: top 0.5s 2s;
  -o-transition: top 0.5s 2s;
  transition: top 0.5s 0.2s;
  border-radius: 0 0 8px 8px;
  /*
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
      -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
  */
  border-bottom: 1px solid #777; }
  /* line 30, ../../sass/user_header.scss */
  #user_header.loaded {
    top: 0px; }
  /* line 45, ../../sass/user_header.scss */
  #user_header img.current-user-avatar {
    border-radius: 0 0 0 8px;
    vertical-align: middle;
    float: left;
    cursor: pointer; }
    /* line 51, ../../sass/user_header.scss */
    #user_header img.current-user-avatar:hover ~ span.nickname {
      text-decoration: underline; }
  /* line 56, ../../sass/user_header.scss */
  #user_header div.button {
    float: left;
    height: 24px;
    position: relative; }
    /* line 62, ../../sass/user_header.scss */
    #user_header div.button.open span.linked {
      text-decoration: underline; }
    /* line 65, ../../sass/user_header.scss */
    #user_header div.button.open span.entypo {
      color: white; }
    /* line 68, ../../sass/user_header.scss */
    #user_header div.button.open div.popup-dialog {
      display: block; }
    /* line 73, ../../sass/user_header.scss */
    #user_header div.button.bg-hover:not(.open):hover {
      background-color: #AB8; }
    /* line 77, ../../sass/user_header.scss */
    #user_header div.button:last-of-type {
      border-radius: 0 0 5px; }
    /* line 82, ../../sass/user_header.scss */
    #user_header div.button.unread span.entypo {
      color: #CE6; }
    /* line 87, ../../sass/user_header.scss */
    #user_header div.button div.popup-dialog {
      display: none;
      background-color: white;
      border: 1px solid #777;
      border-radius: 3px;
      width: 300px;
      position: absolute;
      top: 30px;
      left: -140px;
      box-shadow: 0 1px 7px #777; }
  /* line 102, ../../sass/user_header.scss */
  #user_header span.item {
    float: left;
    color: white;
    margin: 0px;
    padding: 4px 3px 9px; }
  /* line 109, ../../sass/user_header.scss */
  #user_header span.separator {
    float: left;
    color: white;
    margin: 4px 0px 0px; }
  /* line 115, ../../sass/user_header.scss */
  #user_header span.linked {
    cursor: pointer; }
    /* line 117, ../../sass/user_header.scss */
    #user_header span.linked:hover {
      text-decoration: underline; }
  /* line 122, ../../sass/user_header.scss */
  #user_header span.nickname {
    padding-left: 5px; }
  /* line 126, ../../sass/user_header.scss */
  #user_header span.entypo {
    font-family: "EntypoRegular", sans-serif;
    font-size: 32px;
    display: inline-block;
    position: relative;
    top: -4px;
    float: left;
    line-height: normal;
    color: #896;
    cursor: pointer;
    padding: 0px 2px 3px; }
    /* line 138, ../../sass/user_header.scss */
    #user_header span.entypo.red {
      color: #A88; }
    /* line 142, ../../sass/user_header.scss */
    #user_header span.entypo.pink {
      color: #a0899e; }

/* line 151, ../../sass/user_header.scss */
div.item-menu.loading div.loading-full {
  display: block; }
/* line 156, ../../sass/user_header.scss */
div.item-menu div.shiv {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 141px;
  top: -8px;
  width: 14px;
  height: 14px;
  background: white;
  border-width: 1px;
  border-color: #777;
  border-style: solid none none solid; }
/* line 173, ../../sass/user_header.scss */
div.item-menu div.scrollable {
  position: relative; }
/* line 179, ../../sass/user_header.scss */
div.item-menu div.loading-full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 50%; }
/* line 188, ../../sass/user_header.scss */
div.item-menu div.head {
  padding: 7px;
  font-size: 12px;
  border-bottom: 1px solid #dddddd;
  position: relative; }
  /* line 194, ../../sass/user_header.scss */
  div.item-menu div.head a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 22px;
    text-align: center;
    outline: none; }
    /* line 203, ../../sass/user_header.scss */
    div.item-menu div.head a span {
      display: inline-block;
      font-family: "EntypoRegular", sans-serif;
      font-size: 40px;
      position: relative;
      top: -7px;
      line-height: normal; }
/* line 214, ../../sass/user_header.scss */
div.item-menu div.foot {
  padding: 7px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
  text-align: center; }
  /* line 219, ../../sass/user_header.scss */
  div.item-menu div.foot a {
    outline: none;
    color: #799058; }
/* line 225, ../../sass/user_header.scss */
div.item-menu div.info {
  display: none;
  padding: 20px 20px;
  text-align: center; }
/* line 231, ../../sass/user_header.scss */
div.item-menu div.error {
  color: #941c1e; }
/* line 235, ../../sass/user_header.scss */
div.item-menu div.rank-labels {
  line-height: normal;
  overflow: auto; }
  /* line 240, ../../sass/user_header.scss */
  div.item-menu div.rank-labels div.left {
    float: left;
    text-align: left; }
  /* line 244, ../../sass/user_header.scss */
  div.item-menu div.rank-labels div.right {
    float: right;
    text-align: right; }
/* line 252, ../../sass/user_header.scss */
div.item-menu li {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #E5EEDC; }
  /* line 259, ../../sass/user_header.scss */
  div.item-menu li:last-of-type {
    border-bottom: none; }
  /* line 264, ../../sass/user_header.scss */
  div.item-menu li:not(.loading):hover {
    background: #DDE6D5; }
    /* line 266, ../../sass/user_header.scss */
    div.item-menu li:not(.loading):hover div.button-panel {
      display: block; }
  /* line 271, ../../sass/user_header.scss */
  div.item-menu li.read {
    background-color: whitesmoke; }
    /* line 273, ../../sass/user_header.scss */
    div.item-menu li.read:not(.loading):hover {
      background-color: #EEE; }
  /* line 279, ../../sass/user_header.scss */
  div.item-menu li.loading > div.loading-panel {
    display: block; }
  /* line 284, ../../sass/user_header.scss */
  div.item-menu li.cursor-default {
    cursor: default; }
  /* line 288, ../../sass/user_header.scss */
  div.item-menu li:not(.template):last-of-type {
    border-radius: 0px 0px 3px 3px; }
  /* line 292, ../../sass/user_header.scss */
  div.item-menu li > img {
    margin: 5px;
    height: 50px;
    width: 50px;
    float: left; }
  /* line 300, ../../sass/user_header.scss */
  div.item-menu li p.top {
    padding-top: 5px;
    font-weight: bold; }
  /* line 304, ../../sass/user_header.scss */
  div.item-menu li p.middle {
    color: #888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 5px 5px 0px; }
  /* line 311, ../../sass/user_header.scss */
  div.item-menu li p.bottom {
    font-size: 10px;
    color: #333;
    padding-top: 3px; }
  /* line 319, ../../sass/user_header.scss */
  div.item-menu li div.button-panel {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 25px; }
    /* line 327, ../../sass/user_header.scss */
    div.item-menu li div.button-panel.wide {
      width: 110px; }
    /* line 331, ../../sass/user_header.scss */
    div.item-menu li div.button-panel a {
      float: left;
      display: block;
      width: 20px;
      height: 25px;
      padding-bottom: 5px;
      padding-right: 5px;
      text-align: center;
      cursor: pointer; }
      /* line 341, ../../sass/user_header.scss */
      div.item-menu li div.button-panel a.green {
        color: #9A7; }
        /* line 343, ../../sass/user_header.scss */
        div.item-menu li div.button-panel a.green:hover {
          color: #694; }
      /* line 348, ../../sass/user_header.scss */
      div.item-menu li div.button-panel a.red {
        color: #A88; }
        /* line 350, ../../sass/user_header.scss */
        div.item-menu li div.button-panel a.red:hover {
          color: #944; }
      /* line 355, ../../sass/user_header.scss */
      div.item-menu li div.button-panel a.gray {
        color: #CCC;
        cursor: default; }
      /* line 360, ../../sass/user_header.scss */
      div.item-menu li div.button-panel a.play-button {
        width: auto;
        display: inline-block;
        font-size: 20px;
        border-radius: 50px;
        padding: 8px 20px;
        line-height: normal;
        margin-top: 7px;
        /*
            display: inline-block;
            font-size: 20px;
            border-radius: 50px;
            padding: 8px 20px;
            line-height: normal;
            margin-bottom: 10px;
            border-top: 1px solid #BABABA;
            border-bottom: 1px solid white;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
            */ }
        /* line 371, ../../sass/user_header.scss */
        div.item-menu li div.button-panel a.play-button:hover {
          color: white; }
    /* line 390, ../../sass/user_header.scss */
    div.item-menu li div.button-panel span {
      display: inline-block;
      font-family: "EntypoRegular", sans-serif;
      font-size: 40px;
      position: relative;
      top: -4px;
      line-height: normal; }
  /* line 400, ../../sass/user_header.scss */
  div.item-menu li div.loading-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 22px; }
